<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>商品詳細</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .btn-row {
            margin-top: 20px;
        }
        .btn-row .btn {
            width: 100%;
        }
        .btn-spacing {
            margin-bottom: 10px; /* ボタンの間のスペースを作る */
        }
        .pagination {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container mt-4">
		<!-- エラーメッセージがある場合に表示 -->
		<div th:if="${errorMessage}" class="alert alert-danger">
		    <p th:text="${errorMessage}"></p>
		</div>
		<div class="d-flex justify-content-end mb-4">
			<form th:action="@{/logout}" method="post">
			    <input type="submit" value="ログアウト">
			</form>
		</div>
		<h1>商品発注完了</h1>
		<p><span th:text="${product.name}"></span>の発注が完了しました。</p>
		    <div class="row btn-row">
				<div class="col-md-6 btn-spacing">
					<a th:href="@{/product/details/{id}(id=${product.id})}" class="btn btn-secondary">商品管理詳細ページへ戻る</a>
				</div>
				<div class="col-md-6">
					<a th:href="@{/product/order/history}" class="btn btn-secondary">商品発注履歴ページへ戻る</a>
				</div>
			</div>
	</div>
    <!-- BootstrapのJavaScript (オプション) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>