<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理者プロフィール詳細</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .btn-row {
            margin-top: 20px;
        }
		.btn-row .btn {
		    width: 100%;
		}
		.btn-spacing {
		    margin-bottom: 10px; /* ボタンの間のスペースを作る */
		}
    </style>
</head>
<body>
    <div class="container mt-4">
		<div class="d-flex justify-content-end mb-4">
			<form th:action="@{/logout}" method="post">
			    <input type="submit" value="ログアウト">
			</form>
		</div>
		<!-- エラーメッセージがある場合に表示 -->
		<div th:if="${errorMessage}" class="alert alert-danger">
		    <p th:text="${errorMessage}"></p>
		</div>
		
        <h1>管理者プロフィール詳細</h1>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th scope="row">ユーザーID</th>
                    <td th:text="${adminProfile.id}"></td>
                </tr>
                <tr>
                    <th scope="row">店舗名</th>
                    <td th:text="${adminProfile.store.name}"></td>
                </tr>
                <tr>
                    <th scope="row">役職名</th>
                    <td th:text="${adminProfile.role.name}"></td>
                </tr>
                <tr>
                    <th scope="row">権限名</th>
                    <td th:text="${adminProfile.permission.name}"></td>
                </tr>
                <tr>
                    <th scope="row">名</th>
                    <td th:text="${adminProfile.firstName}"></td>
                </tr>
                <tr>
                    <th scope="row">姓</th>
                    <td th:text="${adminProfile.lastName}"></td>
                </tr>
                <tr>
                    <th scope="row">メールアドレス</th>
                    <td th:text="${adminProfile.email}"></td>
                </tr>
                <tr>
                    <th scope="row">電話番号</th>
                    <td th:text="${adminProfile.phone}"></td>
                </tr>
                <tr>
                    <th scope="row">パスワード</th>
					<td>********</td>
                </tr>
            </tbody>
        </table>
        <div class="row btn-row">
			<div class="col-md-6 btn-spacing">
			    <a th:href="@{/admin/profile/edit/{id}(id=${adminProfile.id})}" class="btn btn-primary">編集</a>
			</div>
			<div class="col-md-6">
				<a href="/home" class="btn btn-secondary">TOPページへ戻る</a>
			</div>
        </div>
    </div>

    <!-- BootstrapのJavaScript (オプション) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
