<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
	<div class="container mt-4">
		<div class="d-flex justify-content-end mb-4">
			<form th:action="@{/logout}" method="post">
			    <input type="submit" value="ログアウト">
			</form>
		</div>
	    <h1>エラーが発生しました</h1>
	    <p th:text="${errorMessage}">エラーが発生しました。</p>
	    <a href="/home">トップページに戻る</a>
	</div>
</body>
</html>
