<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>メーカ編集</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<style>
	    .btn-row {
	        margin-top: 20px;
	    }
		.btn-row .btn {
		    width: 100%;
		}
		.btn-spacing {
		    margin-bottom: 10px; /* ボタンの間のスペースを作る */
		}
	</style>
</head>
<body>
    <div class="container mt-4">
		<div class="d-flex justify-content-end mb-4">
			<form th:action="@{/logout}" method="post">
			    <input type="submit" value="ログアウト">
			</form>
		</div>
        <h1>メーカ編集</h1>

        <!-- エラーメッセージがある場合に表示 -->
        <div th:if="${errorMessage}" class="alert alert-danger">
            <p th:text="${errorMessage}"></p>
        </div>
        
        <form th:action="@{/manufacturer/edit/{id}(id=${manufacturerEditForm.id})}" th:object="${manufacturerEditForm}" method="post">
			<input type="hidden" name="id" th:value="${manufacturerEditForm.id}"> <!--隠しフィールド-->
			<input type="hidden" name="_csrf" value="${_csrf.token}"/>
			
			<div class="form-group">
			    <label for="id">ID</label>
			    <input type="text" id="id" class="form-control" th:field="*{id}" readonly/>
			</div>
			
			<div class="form-group">
			    <label for="manufacturerName">メーカ名</label>
			    <input type="text" id="manufacturerName" class="form-control" th:field="*{name}" />
			</div>
			
			<div class="row btn-row">
				<div class="col-md-6 btn-spacing">
				    <button type="submit" class="btn btn-primary">更新する</button>
				</div>
				<div class="col-md-6">
					<a th:href="@{/manufacturer/details/{id}(id=${manufacturerEditForm.id})}" class="btn btn-secondary">メーカ詳細へ戻る</a>
				</div>
			</div>
        </form>
    </div>

    <!-- BootstrapのJavaScript (オプション) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
